.wrapper-main {
    width: 420px;
    background-color: rgb(255, 163, 126);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 20px;
    text-align: left;
}
